<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <title>User Registration</title>
</head>
<body>
    <div class="col-md-10 col-md-offset-1">
        <div class="h1 text-center" style="padding:5px; background-color:aquamarine; border:solid">
            User Registration
        </div>
        <div class="well">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr class="text-center info">
                        <td class="h4" colspan="2">
                            New User Registration
                            <a class="btn btn-info pull-right" href="Login.html">Login</a>
                        </td>                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" id="txtUsername" placeholder="Username" /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="email" id="txtEmail" placeholder="Email" /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" id="txtPassword" placeholder="Password" /></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td><input type="password" id="txtConfirmPassword" placeholder="Confirm Password" /></td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">
                            <input type="button" class="btn btn-info pull-left" id="btnRegister" value="Register"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal fade" tabindex="-1" id="successModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" id="btnCloseX">
                                &times;
                            </button>
                            <h4>Success</h4>
                        </div>
                        <div class="modal-body">
                            <h2>Registration Successfull</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal" id="btnClose">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divError" class="alert alert-danger collapse">
                <a id="linkClose" class="close">&times;</a>
                <div id="divErrorText">

                </div>
            </div>
            <div class="h6 text-center">
                Copyright Rodrigo Sandino 2020
            </div>
        </div>
    </div>

    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });
            $('#btnRegister').click(function () {
                $.ajax({
                    url: 'http://localhost:64687/api/Account/Register',
                    method: 'post',
                    data: {
                        UserName: $('#txtUsername').val(),
                        Email: $('#txtEmail').val(),
                        Password: $('#txtPassword').val(),
                        ConfirmPassword: $('#txtConfirmPassword').val()
                    },
                    success: function () {
                        $('#successModal').modal('show');
                    },
                    error: function (error) {
                        $('#divErrorText').text(error.responseText);
                        $('#divError').show('fade');
                    }
                });
            });
        });
    </script>
</body>
</html>