<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <title>User Registration</title>
</head>
<body>
    <div class="col-md-10 col-md-offset-1">
        <div class="h1 text-center" style="padding:5px; background-color:aquamarine; border:solid">
            User Registration
        </div>
        <div class="well">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr class="text-center info">
                        New User Registration
                        <a class="btn btn-info pull-right" href="#">Login</a>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>